<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.srsys.ssadmin">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.AccountActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".presentation.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ListActivity" />

        <activity
            android:name=".presentation.inflate.AddBill"
            android:theme="@style/AppTheme.popup_window_animation_phone" />

        <activity android:name=".presentation.MainActivity" />

        <activity
            android:name=".presentation.inflate.CreateAccount"
            android:theme="@style/AppTheme.popup_window_animation_phone" />
    </application>

</manifest>